<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0 shrink-to-fit=no" name="viewport">

    <title> <%=title%> </title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--register-->
    <link rel="stylesheet" href="register/css/registering-style.css">
    <link rel="stylesheet" href="register/css/flags.css">
    <!--news page-->
    <link rel="stylesheet" href="news-page/css/main-news.css">
    <!--Trending-->
    <link rel="stylesheet" href="trend/css/trending.css">
    <!--company-->
    <link rel="stylesheet" href="company/css/company-style.css">


    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Vendor CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/home/icofont.min.css" rel="stylesheet">
    <link href="assets/css/home/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/home/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/home/home-style.css" rel="stylesheet">
    <link href="assets/css/navbar-style.css" rel="stylesheet">

    <!--Signing css files-->
    <link rel="stylesheet" type="text/css" href="signing/css/flags.css">
    <link rel="stylesheet" type="text/css" href="signing/css/registering-style.css">


    <!-- Chart Js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>