<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex">
        <div class="logo mr-auto">
            <h1 class="text-light">
                <a href="/"><span>Stock</span></a>
            </h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./trend/index.html?type=local">Local Trend</a>
                        <a class="dropdown-item" href="./trend/index.html?type=global">Global Trend
                        </a>
                        <a class="dropdown-item" href="./trend/index.html?type=local">Watch List</a>
                    </div>
                </li>
                <li><a href="/news">News</a></li>
                <li>
                    <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search " name="query">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </li>

                <% if (signedUser){%>
                <li><a href="#">Username: <%= userName%></a></li>

                <%}%>
      </ul>
    </nav>
    <!-- .nav-menu -->

    <div class="header-social-links">
      <% if (signedUser){%>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/log-out';">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
                <%} else {%>
                <button type="button" onclick="location.href='/sign-in';" class="btn btn-outline-primary ml-3">
                    Sign In
                </button>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/sign-up';">
                    Sign Up
                </button>
                <%}%>
    </div>
  </div>
</header>
<!-- End Header -->