<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- ======= Hero Section ======= -->
<section id="hero">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
        data-aos="fade-up">
        <div>
          <h1>Stock Prediction Using Machine Learning</h1>
          <h2>you couldn't predict the future but we could.</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="./assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-in">
          <img src="./assets/img/features-3.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0">
            <h3>About us</h3>
            <p class="font-italic">
              Stock price prediction is an important issue in the financial world. It is the act of trying to determine
              the future value of a company, stock or other financial instrument traded on a financial exchange. The
              successful prediction of a stock's future price will maximize investor’s gains and could yield a
              significant profit to investors and the country.
            </p>
            <h5 class="mb-3">Top-Features</h5>
            <ul>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i>Top trending</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i>Watch-list</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i>Stock News</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i>Stock history</li>
              <li><i class="fa fa-check-circle" aria-hidden="true"></i>Stock prediction</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Developers</h2>
      </div>
      <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonial-item">
          <h3>Abanob Safwat</h3>
          <h4>Backend Developer</h4>
        </div>

        <div class="testimonial-item">
          <h3>Ahmed Osama</h3>
          <h4>Backend Developer</h4>
        </div>

        <div class="testimonial-item">
          <h3>Abd Alrahman Kamal</h3>
          <h4>Frontend Developer</h4>
        </div>

        <div class="testimonial-item">
          <h3>Kerolos Karam</h3>
          <h4>Machine Learning</h4>
        </div>

        <div class="testimonial-item">
          <h3>Yousstina Fathy</h3>
          <h4>Frontend</h4>
        </div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

</main><!-- End #main -->

<%- include('partials/footer') %>